@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1>@Html.ActionLink("Egzaminy", "Index", "Egzamins")</h1>
</div>

<div class="row">
    @if (Context.User.IsInRole("Admin"))
    {
    <ul>
        <li>@Html.ActionLink("Dodaj Sale", "Index", "Sales")</li>
        <li>@Html.ActionLink("Dodaj Rok", "Index", "Roks")</li>
        <li>@Html.ActionLink("Dodaj Przedmiot", "Index", "Przedmioties")</li>
        <li>@Html.ActionLink("Zarządzaj wykładowcami", "Index", "Wykladowca")</li>
        <li>@Html.ActionLink("Zarządzaj studentami", "Index", "Student")</li>
    </ul>
    }
</div>